.box{
    padding: 2px 10px;
    border: 2px solid black;
    width: 80%;
}
.innerBox{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 95%;
    height: auto;
    /* border:2px solid green; */
    padding: 5px;
}
.employeebox{
width: 40%;
height: 600px;
overflow-y: scroll;
border: 2px solid black;

}
.employeeDisplaybox{
    width: 60%;
    height: 600px;
    border: 2px solid black;
}
.eName{
  align-items: center;
  text-align: center;
  font-weight: 600;
}
.br{
    border: 1px dashed black;   
}